coverage==7.3.0
    # via -r test-requirements.in
iniconfig==2.0.0
    # via pytest
packaging==23.1
    # via pytest
pluggy==1.2.0
    # via pytest
pyhamcrest==2.0.4
    # via -r test-requirements.in
pytest==7.4.0
    # via -r test-requirements.in
